<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>排行榜PC</title>
    <!-- 设置 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- 兼容国产浏览器的高速模式 -->
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" type="text/css" href="../css/rankinglistpc.css"/>
</head>
<body>
<div class="rankingBox">
  <div class="rankingTop">
    <div class="rangkingTopleft">
      <img src="../images/scorepc.png"/>
    </div>
    <div class="rangkingTopright">
        <img src="../images/1.jpg" class="personImg" id="a0"/>
        <span class="personName" id="b0">孟繁胜游</span>
        <p class="personTime" id="c0">18分18秒</p>
    </div>
  </div>
  <img src="../images/bang.png" class="imgB" />
  <ul class="rankingMain n1">
    <li>
      <img src="../images/pc/n1.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" id="a1"/>
      <b class="rankingName" id="b1">孟繁胜游</b>
      <span class="rankingTime" id="c1">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n2.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a2"/>
      <b class="rankingName" id="b2">孟繁胜游</b>
      <span class="rankingTime" id="c2">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n3.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a3"/>
      <b class="rankingName" id="b3">孟繁胜游</b>
      <span class="rankingTime" id="c3">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n4.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a4"/>
      <b class="rankingName" id="b4">孟繁胜游</b>
      <span class="rankingTime" id="c4">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n5.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a5"/>
      <b class="rankingName" id="b5">孟繁胜游</b>
      <span class="rankingTime" id="c5">2分30秒</span>
    </li>
  </ul>
  <ul class="rankingMain n2" style="display: none;">
    <li>
      <img src="../images/pc/n6.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a6"/>
      <b class="rankingName" id="b6">孟繁胜游</b>
      <span class="rankingTime" id="c6">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n7.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a7"/>
      <b class="rankingName" id="b7">孟繁胜游</b>
      <span class="rankingTime" id="c7">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n8.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a8"/>
      <b class="rankingName" id="b8">孟繁胜游</b>
      <span class="rankingTime" id="c8">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n9.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a9"/>
      <b class="rankingName" id="b9">孟繁胜游</b>
      <span class="rankingTime" id="c9">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n10.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a10"/>
      <b class="rankingName" id="b10">孟繁胜游</b>
      <span class="rankingTime" id="c10">2分30秒</span>
    </li>
  </ul>
  <ul class="rankingMain n3" style="display: none;">
    <li>
      <img src="../images/pc/n11.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a11"/>
      <b class="rankingName" id="b11">孟繁胜游</b>
      <span class="rankingTime" id="c11">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n12.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a12"/>
      <b class="rankingName" id="b12">孟繁胜游</b>
      <span class="rankingTime" id="c12">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n13.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a13"/>
      <b class="rankingName" id="b13">孟繁胜游</b>
      <span class="rankingTime" id="c13">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n14.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a14"/>
      <b class="rankingName" id="b14">孟繁胜游</b>
      <span class="rankingTime" id="c14">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n15.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a15"/>
      <b class="rankingName" id="b15">孟繁胜游</b>
      <span class="rankingTime" id="c15">2分30秒</span>
    </li>
  </ul>
  <ul class="rankingMain n4" style="display: none;">
    <li>
      <img src="../images/pc/n16.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a16"/>
      <b class="rankingName" id="b16">孟繁胜游</b>
      <span class="rankingTime" id="c16">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n17.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a17"/>
      <b class="rankingName" id="b17">孟繁胜游</b>
      <span class="rankingTime" id="c17">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n18.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a18"/>
      <b class="rankingName" id="b18">孟繁胜游</b>
      <span class="rankingTime" id="c18">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n19.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a19"/>
      <b class="rankingName" id="b19">孟繁胜游</b>
      <span class="rankingTime" id="c19">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n20.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson"  id="a20"/>
      <b class="rankingName" id="b20">孟繁胜游</b>
      <span class="rankingTime" id="c20">2分30秒</span>
    </li>
  </ul>
</div>


</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script>
  var storage = window.localStorage;
  var getTime= storage.getItem("gameTime");
  // alert(name)
  var gameSecond=parseInt(getTime);
  var gameMinute=parseInt(gameSecond/60); //获取分钟
  var endSecond=gameSecond%60; //获取最后秒
  $(".timeNum").html(gameMinute+"分"+endSecond+"秒");
  if(gameMinute>=1){
      $(".personTime").html(gameMinute+"分"+endSecond+"秒");
  }else{
      $(".personTime").html(endSecond+"秒");
  }
  
  function a1(){
	  $(".n1,.n3,.n4").hide();
      $(".n2").show();
      setTimeout("a2()", 6000);
  }
  
  function a2(){
	  $(".n1,.n2,.n4").hide();
      $(".n3").show();
      setTimeout("a3()", 6000);
  }
	 
  function a3(){
	  $(".n1,.n2,.n3").hide();
      $(".n4").show();
      setTimeout("a4()", 6000);
  }
  
  function a4(){
	  
	  $.ajax({
			url : "/getUser",
			data : JSON.stringify({
				id : 0
			}),
			type : "POST",
			async : true,
			dataType : "json",
			contentType : "application/json; charset=UTF-8",
		}).done(function(data) {
			var msg = JSON.parse(data.message);
			$("#a0").attr("src",msg[0][1]);
			$("#b0").text(msg[0][0]);
			$("#c0").text(msg[0][2]+"秒");
			
			$("#a1").attr("src",msg[0][1]);
			$("#b1").text(msg[0][0]);
			$("#c1").text(msg[0][2]+"秒");
			
			$("#a2").attr("src",msg[1][1]);
			$("#b2").text(msg[1][0]);
			$("#c2").text(msg[1][2]+"秒");
			
			$("#a3").attr("src",msg[2][1]);
			$("#b3").text(msg[2][0]);
			$("#c3").text(msg[2][2]+"秒");
			
			$("#a4").attr("src",msg[3][1]);
			$("#b4").text(msg[3][0]);
			$("#c4").text(msg[3][2]+"秒");
			
			$("#a5").attr("src",msg[4][1]);
			$("#b5").text(msg[4][0]);
			$("#c5").text(msg[4][2]+"秒");
			
			$("#a6").attr("src",msg[5][1]);
			$("#b6").text(msg[5][0]);
			$("#c6").text(msg[5][2]+"秒");
			
			$("#a7").attr("src",msg[6][1]);
			$("#b7").text(msg[6][0]);
			$("#c7").text(msg[6][2]+"秒");
			
			$("#a8").attr("src",msg[7][1]);
			$("#b8").text(msg[7][0]);
			$("#c8").text(msg[7][2]+"秒");
			
			$("#a9").attr("src",msg[8][1]);
			$("#b9").text(msg[8][0]);
			$("#c9").text(msg[8][2]+"秒");
			
			$("#a10").attr("src",msg[9][1]);
			$("#b10").text(msg[9][0]);
			$("#c10").text(msg[9][2]+"秒");
			
			$("#a11").attr("src",msg[10][1]);
			$("#b11").text(msg[10][0]);
			$("#c11").text(msg[10][2]+"秒");
			
			$("#a12").attr("src",msg[11][1]);
			$("#b12").text(msg[11][0]);
			$("#c12").text(msg[11][2]+"秒");
			
			$("#a13").attr("src",msg[12][1]);
			$("#b13").text(msg[12][0]);
			$("#c13").text(msg[12][2]+"秒");
			
			$("#a14").attr("src",msg[13][1]);
			$("#b14").text(msg[13][0]);
			$("#c14").text(msg[13][2]+"秒");
			
			$("#a15").attr("src",msg[14][1]);
			$("#b15").text(msg[14][0]);
			$("#c15").text(msg[14][2]+"秒");
			
			$("#a16").attr("src",msg[15][1]);
			$("#b16").text(msg[15][0]);
			$("#c16").text(msg[15][2]+"秒");
			
			$("#a17").attr("src",msg[16][1]);
			$("#b17").text(msg[16][0]);
			$("#c17").text(msg[16][2]+"秒");
			
			$("#a18").attr("src",msg[17][1]);
			$("#b18").text(msg[17][0]);
			$("#c18").text(msg[17][2]+"秒");
			
			$("#a19").attr("src",msg[18][1]);
			$("#b19").text(msg[18][0]);
			$("#c19").text(msg[18][2]+"秒");
			
			$("#a20").attr("src",msg[19][1]);
			$("#b20").text(msg[19][0]);
			$("#c20").text(msg[19][2]+"秒");
		}).fail(
				function(xhr, status, errorThrown) {
					alert("Sorry, there was a problem! " + "Error: "
							+ errorThrown + "Status: " + status);
					console.log("Error: " + errorThrown);
					console.log("Status: " + status);
					console.dir(xhr);
				}).always(function(xhr, status) {
			console.log("The request is complete!");
		});
	  
	  
	  $(".n4,.n2,.n3").hide();
      $(".n1").show();
      setTimeout("a1()", 6000);
  }
      
  a4();
</script>
</html>
