<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>排行榜</title>
    <!-- 设置 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- 兼容国产浏览器的高速模式 -->
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" type="text/css" href="../css/rankinglist.css"/>

</head>
<body>
<div class="rankingBox">
  <div class="rankingTop">
    <div class="rankingTopmain">排行榜</div>
  </div>
  <ul class="rankingMain">
    <li>
      <img src="../images/5.jpg"/>
      <span class="rankingPosition">1</span>
      <b class="rankingGrad">AAAAA</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/5.jpg"/>
      <span class="rankingPosition">10</span>
      <b class="rankingGrad">AAAA</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/5.jpg"/>
      <span class="rankingPosition">8</span>
      <b class="rankingGrad">AAAA</b>
      <span class="rankingTime">2分30秒</span>
    </li>
  </ul>
</div>


</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script>

</script>
</html>
