<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>排行榜pc</title>
    <!-- 设置 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- 兼容国产浏览器的高速模式 -->
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" type="text/css" href="../css/rankinglistpc.css"/>
</head>
<body>
<div class="rankingBox">
  <div class="rankingTop">
    <div class="rangkingTopleft">
      <img src="../images/scorepc.PNG"/>
    </div>
    <div class="rangkingTopright">
        <img src="../images/1.jpg" class="personImg" />
        <span class="personName">孟繁胜游</span>
        <p class="personTime">18分18秒</p>
    </div>
  </div>
  <img src="../images/bang.png" class="imgB" />
  <ul class="rankingMain n1">
    <li>
      <img src="../images/pc/n1.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n2.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n3.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n4.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n5.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
  </ul>
  <ul class="rankingMain n2" style="display: none;">
    <li>
      <img src="../images/pc/n6.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n7.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n8.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n9.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n10.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
  </ul>
  <ul class="rankingMain n3" style="display: none;">
    <li>
      <img src="../images/pc/n11.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n12.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n13.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n14.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n15.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
  </ul>
  <ul class="rankingMain n4" style="display: none;">
    <li>
      <img src="../images/pc/n16.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n17.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n18.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n19.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
    <li>
      <img src="../images/pc/n20.png" class="rankingPosition"/>
      <img src="../images/1.jpg" class="rankingPerson" />
      <b class="rankingName">孟繁胜游</b>
      <span class="rankingTime">2分30秒</span>
    </li>
  </ul>
</div>


</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script>
  var storage = window.localStorage;
  var  getTime= storage.getItem("gameTime");
  // alert(name)
  var gameSecond=parseInt(getTime);
  var gameMinute=parseInt(gameSecond/60); //获取分钟
  var endSecond=gameSecond%60; //获取最后秒
  $(".timeNum").html(gameMinute+"分"+endSecond+"秒");
  if(gameMinute>=1){
      $(".personTime").html(gameMinute+"分"+endSecond+"秒");
    }else{
      $(".personTime").html(endSecond+"秒");
    }
    setTimeout(function(){
      $(".n1,.n3,.n4").hide();
      $(".n2").show();
    },6000)
    setTimeout(function(){
      $(".n1,.n2,.n4").hide();
      $(".n3").show();
    },12000)
    setTimeout(function(){
      $(".n1,.n2,.n3").hide();
      $(".n4").show();
    },18000)
</script>
</html>
